<html>
<title>
Home
</title>

<header>
<br><div class="logo"></div>
<center><h1>Medical Centre</h1></center>
<p id="rt">
<a href="{% url 'logout' %}">Log Out</a></p>
<p id="lt">
<a href="{% url 'login' %}">Log In with a Different User</a></p>
<body>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'hello/style_home.css' %}" />

<br><centre>
<div class="intro">
<p>Welcome, {{ request.user.get_username }}. Thanks for logging in.</p>
</div>
</centre>
<br><br>
</body>

<footer>
<br>
<center><h4>Created by SHRUT PATEL</h4></center>
</footer>

</html>

