<html>
<head>
<title>Welcome</title>
</head>


<header>
<br><div class="logo"></div>
<center><h1>Medical Centre</h1></center>
<body>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'hello/style.css' %}" />

<br>
<div class="intro">
Good health is very important because a person of good health can put through a large amount of work in a short time.

A person of perfect health does not shirk his duties. He can work properly and leaves nothing undone. As a student, he shines in his examinations. As a public worker, he renders valuable service and is duly rewarded.

The cultivator generally enjoys excellent health. He works in the field year in and year out and produces plentiful crops.

A sound mind in a sound body is a very popular and wise saying. A person in the pink of health enjoys all the good things of life. He finds vigor and strength to do his work. He relishes the food he takes. He feels life in every limb.
He keeps a cheerful temper and goes through life’s journey with joy.

Therefore, good health is a priceless blessing in life. The famous saying ‘Health is Wealth‘ highlights the importance of good health in our life.
</div>
<br><br>
<p id="rt">
<a href="{% url 'signup' %}">Register</a></p>
<p id="lt">
<a href="{% url 'login' %}">Log in</a></p>
<br><br>
<div class="reg"></div>
<div class="log"></div>
</body>

<footer>
<br>
<center><h4>Created by SHRUT PATEL</h4></center>
</footer>

</html>

